@model RuntimeVariables.Local_Contact

@{
    object attr_helper = null;
    object attr_html = "";
    object attr_css = "";
    if (!ViewBag.authorized)
    {
        attr_helper = new { disabled = "disabled" };
        attr_html = "disabled";
        attr_css = "isDisabled";
    }
}



<style>
</style>




@using (Html.BeginForm("GoUpdateLocalInformation_Contact", "Accounting", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("pm_address_id", ViewData["address_id"], null)
    @Html.Hidden("pm_address_name", ViewData["address_name"], null)
    @Html.Hidden("contact_uid", Model.contact_uid, null)

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&Chi;</span>
        </button>
        <h4 class="modal-title" id="detailsModalLabel">
            @if ((bool)ViewData["pm_isNew"])
            {
                <span>New</span>
            }
            else
            {
                <span>@ViewData["address_name"].ToString()</span>
            }
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.contact_type, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 5px 0 0 0;" })
                @Html.DropDownList("contact_type", new SelectList((IEnumerable<SelectListItem>)ViewData["ContactType"], "Value", "Text"), new { id = "contact_type", @class = "form-control col-md-8 input-sm", style="font-size: medium;" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.contact_language, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 5px 0 0 0;" })
                @Html.DropDownList("contact_language", new SelectList((IEnumerable<SelectListItem>)ViewData["Language"], "Value", "Text"), new { id = "contact_language", @class = "form-control col-md-8 input-sm", style="font-size: medium;" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.contact_name, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 5px 0 0 0;" })
                @Html.TextBox("contact_name", Model.contact_name, new { @type = "text", @autocomplete = "off", @class = "col-md-8 input-sm form-control", style="font-size: medium;" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.contact_title, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 5px 0 0 0;" })
                @Html.TextBox("contact_title", Model.contact_title, new { @type = "text", @autocomplete = "off", @class = "col-md-8 input-sm form-control", style="font-size: medium;" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.contact_phone, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 5px 0 0 0;" })
                @Html.TextBox("contact_phone", Model.contact_phone, new { @type = "text", @autocomplete = "off", @class = "col-md-8 input-sm form-control", style="font-size: medium;" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.contact_fax, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 5px 0 0 0;" })
                @Html.TextBox("contact_fax", Model.contact_fax, new { @type = "text", @autocomplete = "off", @class = "col-md-8 input-sm form-control", style="font-size: medium;" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.contact_mail, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 5px 0 0 0;" })
                @Html.TextBox("contact_mail", Model.contact_mail, new { @type = "text", @autocomplete = "off", @class = "col-md-8 input-sm form-control", style="font-size: medium;" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.chk_deleted, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 5px 0 0 0;" })
                @Html.CheckBox("chk_deleted", Model.chk_deleted, new { style="margin-top: 5px;" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Save" class="btn btn-primary" onclick="return confirm('Save this Contact record?');" @attr_html />
    </div>
}




<script type="text/javascript">
</script>

