@using RuntimeVariables;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ((ViewBagPageInfo)ViewBag.PageInfo).Title;
    ViewBag.PageName = ((ViewBagPageInfo)ViewBag.PageInfo).PageName;
    ViewBag.Path = ((ViewBagPageInfo)ViewBag.PageInfo).Path;

    object attr_helper = null;
    object attr_html = "";
    object attr_css = "";
    if (!ViewBag.authorized)
    {
        attr_helper = new { disabled = "disabled" };
        attr_html = "disabled";
        attr_css = "isDisabled";
    }
}




<!-- #region Developing -->
@if (ViewBag.Dev != null)
{
    <div class="alert dev">
        <span class="closebtn">&times;</span>
        <strong>@ViewBag.Dev</strong>
    </div>
}
<style>
    .alert.dev {
        padding: 20px;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        background-color: hotpink;
        font-size: larger;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>
<script type='text/javascript'>
    var close = document.getElementsByClassName("closebtn");
    for (var i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
</script>
<!-- #endregion -->




<h4>@ViewBag.Path</h4>




@using (Html.BeginForm("goImportCashReceipts", "Accounting", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="margin-top: 10px; ">
        <div class="form-group">
            <div class="col-md-4" style="text-align: right;">
                &nbsp;
            </div>
            <div class="col-md-2" style="text-align: center;">
                <input type="submit" value="Upload" class="btn btn-primary" @attr_html onclick="return confirm('Are you sure to upload the spreadsheet?');" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2" style="text-align: right;">
                @Html.Label("Upload spreadsheet", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.TextBox("pm_file", "", new { type = "file", id = "filepath", accept = ".xls, .xlsx", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2" style="text-align: right;">
                @Html.Label("Assigned Date", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                <input name="assigned_date" class="form-control input-sm" autocomplete="off" type="date" style="font-size: 14px;" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <div style="font-size: larger; color: darkorange;">
            @Html.Raw("※ This app only processes the first sheet from the selected file. Please have what you want to upload be the first one in your spreadsheet.")
        </div>
    </div>
}




@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

