@model RuntimeVariables.tw_day_available

@{
    object attr_helper = null;
    object attr_html = "";
    object attr_css = "";
    if (!ViewBag.authorized)
    {
        attr_helper = new { disabled = "disabled" };
        attr_html = "disabled";
        attr_css = "isDisabled";
    }
}



<style>
    input[type=checkbox] {
        background-color: white;
        border-radius: 2px;
        outline: 1px solid skyblue;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 17px;
        height: 17px;
        cursor: pointer;
        position: relative;
    }

        input[type=checkbox]:focus {
            outline: 1px solid rgba(0, 0, 0, 0.2);
        }

        input[type=checkbox]:checked {
            background-color: #409fd6;
            background: #409fd6 url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
        }
</style>




<script type="text/javascript">
</script>




@using (Html.BeginForm("Go_SaveAvailable", "Taiwan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @*@Html.HiddenFor(model => model.account_id)*@
    @Html.Hidden("pm_available.account_id", Model.account_id)
    if ((bool)ViewData["isNew"])
    { 
        @Html.Hidden("pm_available.day_year", Int16.Parse(DateTime.Now.ToString("yyyy")))
    }
    else
    {
        @Html.Hidden("pm_available.day_year", Model.day_year)
    }

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&Chi;</span>
        </button>
        <h4 class="modal-title" id="detailsModalLabel">
            &nbsp;&nbsp;&nbsp;
            @if ((bool)ViewData["isNew"])
            {
                <span>新增</span>
            }
            else
            {
                @Html.Raw(Model.day_name)
            }
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal" style="font-size: medium;">
            @if ((bool)ViewData["isNew"])
            { 
                <div class="form-group">
                    @Html.LabelFor(model => model.day_name, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 7px 0 0 0;" })
                    @*@Html.DropDownList("day_id", (SelectList)ViewData["twLeaves"], new { @name = "pm_available.day_id", @class = "form-control col-md-8", style = "font-size: large;" })*@
                    @Html.DropDownListFor(model => model.day_id, (SelectList)ViewData["twLeaves"], new { @Name = "pm_available.day_id", @class = "form-control col-md-8", style = "font-size: large;" })
                </div>
            }
            else
            {
                @*@Html.HiddenFor(model => model.day_id)*@
                @Html.Hidden("pm_available.day_id", Model.day_id)
            }
            <div class="form-group">
                @Html.LabelFor(model => model.available_start, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 7px 0 0 0;" })
                <input type="date" name="pm_available.available_start" value="@Model.available_start.ToString("yyyy-MM-dd")" autocomplete="off" class="form-control col-md-8"  style="font-size: large;" />
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.available_end, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 7px 0 0 0;" })
                <input type="date" name="pm_available.available_end" value="@Model.available_end.ToString("yyyy-MM-dd")" autocomplete="off" class="form-control col-md-8" style="font-size: large;" />
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.available_hours, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 7px 0 0 0;" })
                @*<input type="number" name="pm_available.available_hours" value="@Model.available_hours" autocomplete="off" step="0.1" class="form-control col-md-8" style="padding-right: 5px; text-align: right; font-size: large;" />*@
                @Html.TextBox($"pm_available.available_hours", Model.available_hours.ToString("N1"), new { @type = "number", autocomplete = "off", step = "0.1", @min = "0", @class = "form-control col-md-8", style = "padding-right: 5px; text-align: right; font-size: large;" })
            </div>
            @if (!(bool)ViewData["isNew"])
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.z_status, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 2px 0 0 0;" })
                    @*@Html.CheckBoxFor(x => x.z_status_chk)*@
                    @Html.CheckBox("pm_available.z_status_chk")
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(model => model.z_memo, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 7px 0 0 0;" })
                @Html.TextBox($"pm_available.z_memo", Model.z_memo, new { @type = "text", autocomplete = "off", @class = "form-control col-md-8", style = "font-size: medium;" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="儲存" @attr_html class="btn btn-primary" onclick="return confirm('確認儲存資料？');" />
    </div>
}


@if (TempData["message"] != null)
{
    <script type="text/javascript">
    var message = @Html.Raw(Json.Encode(TempData["message"]));
    alert(message);
    </script>
}

