<style type="text/css">
</style>




<h4 style="margin: 0 0 20px 20px;">
    @ViewBag.ReportName
</h4>




@*@using (Html.BeginForm("Open_RecPkgBulk", "Reports", null, FormMethod.Post, new { enctype = "multipart/form-data", target="_blank" }))*@
@using (Html.BeginForm("Open_RecPkgBulk2", "Reports", null, FormMethod.Post, new { enctype = "multipart/form-data", target="_blank" }))
{ 
    @Html.AntiForgeryToken()
    @Html.Hidden("pm_label", ViewData["label"].ToString())
    
    <div class="form-horizontal" style="width: 500px; margin-left: 15px;">
        <div class="form-group">
            @Html.Label("Location ID", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <input type="number" id ="pm_location_id" name ="pm_location_id" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Lot No", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <input type="text" id ="pm_lot_cd" name ="pm_lot_cd" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Quantity", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <input type="number" id ="pm_qty" name ="pm_qty" class="form-control" />
            </div>
        </div>
        <div class="form-group" style="margin-right: 10%; text-align: right;">
            <input type="submit" id="btn_print" value="Print" class="btn btn-primary" />
        </div>
    </div>
}
