@using RuntimeVariables;
@model IEnumerable<Asia_Country>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ((ViewBagPageInfo)ViewBag.PageInfo).Title;
    ViewBag.PageName = ((ViewBagPageInfo)ViewBag.PageInfo).PageName;
    ViewBag.Path = ((ViewBagPageInfo)ViewBag.PageInfo).Path;

    object attr_helper = null;
    object attr_html = "";
    object attr_css = "";
    if (!ViewBag.authorized)
    {
        attr_helper = new { disabled = "disabled" };
        attr_html = "disabled";
        attr_css = "isDisabled";
    }
}




<script type="text/javascript">
</script>




<style>
    .tableScrollY {
        overflow-y: auto;
        /*display: inline-block;*/
        height: calc(100vh - 155px);
        margin: auto;
        max-width: 640px;
        vertical-align: middle;
    }

    thead tr th {
        position: sticky;
        top: 0;
        background: #ffffff;
        text-align: center;
        z-index: 1;
    }

    tbody td {
        font-size: medium;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .table-hover tbody tr:hover td,
    .table-hover tbody tr:hover th {
        background-color: rgb(255 205 143 / 0.2);
    }
</style>




<!-- #region Developing -->
@if (ViewBag.Dev != null)
{
    <div class="alert dev">
        <span class="closebtn">&times;</span>
        <strong>@ViewBag.Dev</strong>
    </div>
}
<style>
    .alert.dev {
        padding: 20px;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        background-color: hotpink;
        font-size: larger;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>
<script type='text/javascript'>
    var close = document.getElementsByClassName("closebtn");
    for (var i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
</script>
<!-- #endregion -->


<h4>@ViewBag.Path</h4>




@using (Html.BeginForm("GoSave_AsiaCountries", "Procurement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="row" style="padding: 0; margin-bottom: 8px;">
        <div class="col-md-7">
            &nbsp;
        </div>
        <div class="col-md-5">
            <input type="submit" value="Update" class="btn btn-primary" @attr_html onclick="return confirm('Update the country list?');" />
        </div>
    </div>

    <div id="theSheet" class="tableScrollY">
        <table class="table table-hover" style="width: 95%;">
            <thead>
                <tr>
                    <th>
                        @Html.Raw(((Model == null || Model.Count() == 0) ? 0 : Model.Count()).ToString())
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.is_asia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.country_code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.country_name)
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model == null || Model.Count() <= 0)
                    { 
                        <tr>
                            <td colspan="4" style="text-align:center;">No data found.</td>
                        </tr>
                    }
                    else
                    {
                        int i = 0;
                        foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td align="right">
                                    @Html.Raw(i)
                                </td>
                                <td align="center">
                                    @Html.CheckBox($"pm_countries[{i-1}].is_asia", item.is_asia, new { style="height: 20px;" })
                                </td>
                                <td align="center">
                                    <input type="hidden" name="pm_countries[@(i-1)].country_code" value="@item.country_code">
                                    @Html.DisplayFor(modelItem => item.country_code)
                                </td>
                                <td>
                                    <input type="hidden" name="pm_countries[@(i-1)].country_name" value="@item.country_name">
                                    @Html.DisplayFor(modelItem => item.country_name)
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
}


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

