@using RuntimeVariables;
@model IEnumerable<BuySheet_Rates_Metals>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ((ViewBagPageInfo)ViewBag.PageInfo).Title;
    ViewBag.PageName = ((ViewBagPageInfo)ViewBag.PageInfo).PageName;
    ViewBag.Path = ((ViewBagPageInfo)ViewBag.PageInfo).Path;

    object attr_helper = null;
    object attr_html = "";
    object attr_css = "";
    if (!ViewBag.authorized)
    {
        attr_helper = new { disabled = "disabled" };
        attr_html = "disabled";
        attr_css = "isDisabled";
    }
}




<style>
    .bodyScrollY {
        overflow: auto;
        display: inline-block;
        height: calc(100vh - 280px);
        width: 100%;
    }


    /* Float four columns side by side */
    .column {
        float: left;
        width: 450px;
        padding: 0 10px;
    }

    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -5px;
        padding-bottom: 10px;
    }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

    /* Style the counter cards */
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: left;
        background-color: #f1f1f1;
    }


    thead tr th {
        position: sticky;
        top: 0;
        background: #ffffff;
        text-align: center;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .table-hover tbody tr:hover td,
    .table-hover tbody tr:hover th {
        background-color: rgb(255 205 143 / 0.2);
    }
</style>




<!-- #region Developing -->
@if (ViewBag.Dev != null)
{
    <div class="alert dev">
        <span class="closebtn">&times;</span>
        <strong>@ViewBag.Dev</strong>
    </div>
}
<style>
    .alert.dev {
        padding: 20px;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        background-color: hotpink;
        font-size: larger;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>
<script type='text/javascript'>
    var close = document.getElementsByClassName("closebtn");
    for (var i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
</script>
<!-- #endregion -->


<h4>@ViewBag.Path</h4>




<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="myDetails">
        </div>
    </div>
</div>
<div class="modal fade" id="chartsModal" tabindex="-1" role="dialog" aria-labelledby="chartsModalLabel">
    <div class="modal-dialog" style="width: 70%;" role="document">
        <div class="modal-content" id="myCharts">
        </div>
    </div>
</div>




<div style="width: 100%; display: block; margin-left: auto; margin-right: auto;">
    <div style="padding-left: 15px; margin-bottom: -10px;">
        @Ajax.ActionLink("Create One Rate", "ShowRates_MetalDetails", "Procurement", new { pm_RRN = 0 }, new AjaxOptions { UpdateTargetId = "myDetails", InsertionMode = InsertionMode.Replace }, new { data_toggle = "modal", data_target = "#detailsModal", @class = "btn" })
    </div>

    <hr />

    <div class="row" style="overflow-x: auto;">
        <table>
            <tr>
                @{
                    int grp = 0;
                    while (true)
                    {
                        grp++;
                        var group = Model.ToList().FindAll(m => m.group == grp).ToList();
                        if (group.Count() == 0)
                        {
                            break;
                        }
                        var name = group.ToList()[0].metal_name;
                        var unit = (ViewData["List_Uints"] as List<string>)[grp-1];

                        <td>
                            <div class="column">
                                <div class="card">
                                    <h3 style="text-align: center">
                                        @Ajax.ActionLink(name, "ShowRates_MetalCharts", "Procurement", new { pm_metal_name = name, pm_metal_unit = unit }, new AjaxOptions { UpdateTargetId = "myCharts", InsertionMode = InsertionMode.Replace }, new { data_toggle = "modal", data_target = "#chartsModal" })
                                    </h3>

                                    <div class="bodyScrollY">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">
                                                        @Html.DisplayNameFor(model => model.rate_date_start)
                                                    </th>
                                                    <th style="text-align: center;">
                                                        @Html.DisplayNameFor(model => model.metal_rate)
                                                        @Html.Raw(unit)
                                                    </th>
                                                    <th>
                                                        &nbsp;
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in group)
                                                {
                                                    <tr>
                                                        <td align="center">
                                                            @Ajax.ActionLink(item.rate_date_start.ToString("yyyy/MM/dd"), "ShowRates_MetalDetails", "Procurement", new { pm_RRN = item.i }, new AjaxOptions { UpdateTargetId = "myDetails", InsertionMode = InsertionMode.Replace }, new { data_toggle = "modal", data_target = "#detailsModal" })
                                                        </td>
                                                        <td align="right" style="padding-right: 30px;">
                                                            @Html.DisplayFor(modelItem => item.metal_rate)
                                                        </td>
                                                        <td align="center">
                                                            @Html.ActionLink("Delete", "GoDeleteRate_Metals", "Procurement", new { pm_RRN = @item.i }, new { onclick = "return confirm('Are you sure you want to delete this record?');", @class=@attr_css })
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                }
            </tr>
        </table>
    </div>
</div>


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

