@using RuntimeVariables;
@model IEnumerable<Charge_Tooling>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ((ViewBagPageInfo)ViewBag.PageInfo).Title;
    ViewBag.PageName = ((ViewBagPageInfo)ViewBag.PageInfo).PageName;
    ViewBag.Path = ((ViewBagPageInfo)ViewBag.PageInfo).Path;

    object attr_helper = null;
    object attr_html = "";
    object attr_css = "";
    if (!ViewBag.authorized)
    {
        attr_helper = new { disabled = "disabled" };
        attr_html = "disabled";
        attr_css = "isDisabled";
    }
}




<style type="text/css">
    .bodyScrollY {
        overflow: auto;
        display: inline-block;
        height: calc(100vh - 165px);
        width: 100%;
    }

    thead tr th {
        position: sticky;
        top: 0;
        background: #ffffff;
        text-align: center;
        z-index: 1;
    }

    tbody td {
        font-size: medium;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .table-hover tbody tr:hover td,
    .table-hover tbody tr:hover th {
        background-color: rgb(255 205 143 / 0.2);
    }
</style>




<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
<script type="text/javascript">
</script>




<!-- #region Developing -->
@if (ViewBag.Dev != null)
{
    <div class="alert dev">
        <span class="closebtn">&times;</span>
        <strong>@ViewBag.Dev</strong>
    </div>
}
<style>
    .alert.dev {
        padding: 20px;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        background-color: hotpink;
        font-size: larger;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>
<script type='text/javascript'>
    var close = document.getElementsByClassName("closebtn");
    for (var i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
</script>
<!-- #endregion -->




<h4>@ViewBag.Path</h4>




<div class="modal fade" id="ReceiptsModal" tabindex="-1" role="dialog" aria-labelledby="ReceiptsModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="myReceipts">
        </div>
    </div>
</div>


<div class="modal fade" id="filtersModal" tabindex="-1" role="dialog" aria-labelledby="filtersModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="myFilters">
        </div>
    </div>
</div>




@using (Html.BeginForm("GoRefound_ToolingCharge", "Procurement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row" style="padding: 0 10px;">
        <div class="col-md-9">
            @Ajax.ActionLink("Filters", "FilterToolingCharge", "Procurement", new { pm_Source = ViewBag.Source }, new AjaxOptions { UpdateTargetId = "myFilters", InsertionMode = InsertionMode.Replace }, new { id = "btnFilters", data_toggle = "modal", data_target = "#filtersModal", @class = "btn", style = "vertical-align: baseline;" })
        </div>
        <div class="col-md-3">
            <input type="submit" value="Update" class="btn btn-primary" @attr_html onclick="return confirm('Update the Tooling Charge list?');" />
        </div>
    </div>

    <div style="width: 90%; display: block; vertical-align: middle; margin-left: auto; margin-right: auto; margin-top: 15px;">
        <div id="theSheet" class="bodyScrollY">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @if (Model == null || Model.Count() <= 0)
                            {
                                @Html.Raw("0")
                            }
                            else
                            {
                                @Model.Count().ToString()
                            }
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.po_no)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.vendor_id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.line_no)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.item_id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.cost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tooling_qty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.refund)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.sum_received)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.overflow)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model == null || Model.Count() <= 0)
                        {
                            <tr>
                                <td colspan="10" style="text-align:center;">No data found.</td>
                            </tr>
                        }
                        else
                        {
                            int i = 0;
                            foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td align="right">
                                        @Html.Raw(i)
                                        <input type="hidden" name="pm_tc[@(i-1)].po_line_ud_uid" value="@item.po_line_ud_uid">
                                        <input type="hidden" name="pm_tc[@(i-1)].po_no" value="@item.po_no">
                                        <input type="hidden" name="pm_tc[@(i-1)].location_id" value="@item.location_id">
                                        <input type="hidden" name="pm_tc[@(i-1)].vendor_id" value="@item.vendor_id">
                                        <input type="hidden" name="pm_tc[@(i-1)].vendor_name" value="@item.vendor_name">
                                        <input type="hidden" name="pm_tc[@(i-1)].line_no" value="@item.line_no">
                                        <input type="hidden" name="pm_tc[@(i-1)].item_id" value="@item.item_id">
                                        <input type="hidden" name="pm_tc[@(i-1)].real_part_no" value="@item.real_part_no">
                                        <input type="hidden" name="pm_tc[@(i-1)].charge_line" value="@item.charge_line">
                                        <input type="hidden" name="pm_tc[@(i-1)].cost" value="@item.cost">
                                        <input type="hidden" name="pm_tc[@(i-1)].tooling_qty" value="@item.tooling_qty">
                                        <input type="hidden" name="pm_tc[@(i-1)].sum_received" value="@item.sum_received">
                                        <input type="hidden" name="pm_tc[@(i-1)].overflow" value="@item.overflow">
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.po_no)
                                    </td>
                                    <td data-toggle="tooltip" data-placement="right" data-size="large" title="@Html.DisplayFor(modelItem => item.vendors)">
                                        @Html.DisplayFor(modelItem => item.vendor_name)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.line_no)
                                    </td>
                                    <td data-toggle="tooltip" data-placement="right" data-size="large" title="@Html.DisplayFor(modelItem => item.real_part_no)">
                                        @Html.DisplayFor(modelItem => item.item_id)
                                    </td>
                                    <td align="right">
                                        @Html.DisplayFor(modelItem => item.cost)
                                    </td>
                                    <td align="right">
                                        @Html.DisplayFor(modelItem => item.tooling_qty)
                                    </td>
                                    <td align="center">
                                        @Html.CheckBox($"pm_tc[{i-1}].refund", item.refund, new { style="height: 20px;" })
                                    </td>
                                    <td align="right">
                                        @Ajax.ActionLink(String.Format("{0:N0}", item.sum_received), "Show_ToolingChargeReceipts", "Procurement", new { pm_vendor_name = item.vendor_name, pm_vendors = item.vendors, pm_item_id = item.item_id, pm_real_part_no = item.real_part_no, pm_refund_date = item.refund_date }, new AjaxOptions { UpdateTargetId = "myReceipts", InsertionMode = InsertionMode.Replace }, new { data_toggle = "modal", data_target = "#ReceiptsModal" })
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.overflow)
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}
