@using RuntimeVariables;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ((ViewBagPageInfo)ViewBag.PageInfo).Title;
    ViewBag.PageName = ((ViewBagPageInfo)ViewBag.PageInfo).PageName;
    ViewBag.Path = ((ViewBagPageInfo)ViewBag.PageInfo).Path;
}

@*
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")
*@



<style type="text/css">
</style>




<script type="text/javascript">
    $(document).ready(function () {    
    })
</script>
<script type="text/javascript">
    function onEnterPressed(event) {
        if (event.keyCode === 13) {
            goSearch();
        }
    }

    function goSearch() {
        //alert('goSearch');
        document.getElementById('btn_search').setAttribute('disabled', 'disabled');

        $("#loading").fadeIn();
        var target = document.getElementById('loading');
        var spinner = new Spinner(opts).spin(target);
            
        var pm_pick_ticket_no = $("#pm_pick_ticket_no").val();
        $("#output").load('@Url.Action("ShowPalletizingData", "Warehouse")?pm_pick_ticket_no=' + pm_pick_ticket_no);
    }
</script>




<!-- #region Developing -->
@if (ViewBag.Dev != null)
{
    <div class="alert dev">
        <span class="closebtn">&times;</span>
        <strong>@ViewBag.Dev</strong>
    </div>
}
<style>
    .alert.dev {
        padding: 20px;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        background-color: hotpink;
        font-size: larger;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>
<script type='text/javascript'>
    var close = document.getElementsByClassName("closebtn");
    for (var i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
</script>
<!-- #endregion -->




<h4>@ViewBag.Path</h4>




<div class="form-inline form-group">
    <input type="number" id="pm_pick_ticket_no" name="pm_pick_ticket_no" autofocus autocomplete="off" placeholder="Pick Ticket No" onkeyup="onEnterPressed(event);" class="form-control col-xs-3" style="font-size: medium; width: 130px; max-width: 130px;" />
    &nbsp;&nbsp;
    <input type="button" id="btn_search" value="Search" onclick="goSearch();" class="btn btn-default" />
</div>


<div id="output">
</div>




@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

