

<style>
</style>


<script type="text/javascript">
</script>


@using (Html.BeginForm("Inventory_GoItemAction", "IT", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("pm_bin_cd", ViewData["pm_bin_cd"].ToString(), null)
    @Html.Hidden("pm_history.dpt", ViewData["pm_dpt"].ToString(), null)
    @Html.Hidden("pm_history.behavior", "Scrap", null)
    @Html.Hidden("pm_history.item_uid", ViewData["pm_item_uid"].ToString(), null)
    @Html.Hidden("pm_history.item_id", ViewData["pm_item_id"].ToString(), null)
    @Html.Hidden("pm_history.original_storage_code", ViewData["pm_storage_code"].ToString(), null)

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&Chi;</span>
        </button>
        <h4 class="modal-title" id="detailsModalLabel">
            @Html.Raw("Scrap ")
            @Html.Raw(ViewData["pm_item_id"].ToString())
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-11">
                    @Html.Label("Are you sure you want to scrap this item?", htmlAttributes: new { @style = "margin: 5px 0 0 0; font-size: large;" })
                </div>
            </div>
            @if ((bool)ViewData["isConsumable"])
            {
                <div class="form-group">
                    @Html.Label("Scrap Qty", htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 5px 0 0 0;" })
                    <div class="col-md-8">
                        @Html.TextBox("pm_history.quantity", "", new { @type = "number", required="required", @autocomplete = "off", @class = "form-control", style = "font-size: medium;" })
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Save" class="btn btn-primary" onclick="return confirm('Scrap this item?');" />
    </div>
}

