@model IEnumerable<RuntimeVariables.BuySheet_TransitTime_Location>

@{
    object attr_helper = null;
    object attr_html = "";
    object attr_css = "";
    if (!ViewBag.authorized)
    {
        attr_helper = new { disabled = "disabled" };
        attr_html = "disabled";
        attr_css = "isDisabled";
    }
}




<style>
    .bulkScrollY {
        overflow: auto;
        display: inline-block;
        height: calc(100vh - 220px);
        width: 100%;
    }

    thead tr th {
        position: sticky;
        top: 0;
        background: #ffffff;
        text-align: center;
    }

    .key {
        border: 0px none transparent;
        background-color: transparent;
        outline: none;
        padding-top: 5px;
        width: 40px;
        text-align: center;
    }
</style>




<script type="text/javascript">
    function daysChange(theNo) {
        document.getElementById('i_' + theNo).value = 1;
    }
</script>





@using (Html.BeginForm("GoSaveTransitTime_LocationBulk", "Transfer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&Chi;</span>
        </button>
        <h4 class="modal-title" id="detailsModalLabel" style="margin-left: 10px;">
            <span>@ViewData["fromLocation"]</span>
        </h4>
    </div>
    <div class="modal-body">
        <div style="width: 100%; display: block; margin-left: auto; margin-right: auto;">
            <div class="bulkScrollY">
                <table class="table table-hover">
                    <colgroup>
                        <col id="col_03" style="width: 30px;">
                        <col id="col_04" style="width: 160px;">
                        <col id="col_05" style="width: 70px;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th style="text-align: center;">
                                @Html.DisplayNameFor(model => model.to_loc_id)
                            </th>
                            <th style="text-align: center;">
                                @Html.DisplayNameFor(model => model.to_loc_name)
                            </th>
                            <th style="text-align: center;">
                                @Html.DisplayNameFor(model => model.transit_days)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null)
                            {
                                var index = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td align="center">
                                            <input type="hidden" id="i_@index" name="pmTransit[@index].i" value="@item.i">
                                            <input type="hidden" name="pmTransit[@index].from_loc_id" value="@item.from_loc_id">
                                            @Html.TextBox($"pmTransit[{index}].to_loc_id", item.to_loc_id, new { @readonly = "readonly", @class = "key" })
                                        </td>
                                        <td>
                                            @Html.ValueFor(modelItem => item.to_loc_name)
                                        </td>
                                        <td>
                                            <input name="pmTransit[@index].transit_days" value="@item.transit_days" class="form-control input-sm" style="font-size: 14px; text-align: right; padding-right: 10px;" onfocusout="daysChange(@index);">
                                        </td>
                                    </tr>
                                    index++;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Save" class="btn btn-primary" onclick="return confirm('Save bulk settings?');" @attr_html />
    </div>
}


