@model RuntimeVariables.BuySheet_TransitTime_Location

@{
    object attr_helper = null;
    object attr_html = "";
    object attr_css = "";
    if (!ViewBag.authorized)
    {
        attr_helper = new { disabled = "disabled" };
        attr_html = "disabled";
        attr_css = "isDisabled";
    }
}




<style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Float four columns side by side */
    .column {
        float: left;
        width: 100%;
        padding: 0 10px;
    }

    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -5px;
    }
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: left;
        background-color: #f1f1f1;
    }

    textarea {
        padding: 10px;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
    }
</style>




<script type="text/javascript">
    $(function () {
        if ("@ViewBag.pmCRUD" == "U") {
            $("#from_loc_id").prop("disabled", true);
            $("#to_loc_id").prop("disabled", true);
        }
    });

    //right before the form submits, we re-enable the fields, to make them submit.
    $("#transitForm").submit(function (event) {
        $("#from_loc_id").prop("disabled", false);
        $("#to_loc_id").prop("disabled", false);
    });
</script>




@using (Html.BeginForm("GoSaveTransitTime_Location", "Transfer", FormMethod.Post, new { id = "transitForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.i)
    <input type="hidden" name="pmCRUD" value="@ViewBag.pmCRUD">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&Chi;</span>
        </button>
        <h4 class="modal-title" id="detailsModalLabel">
            @if (ViewBag.pmCRUD == "C")
            {
                <span>New</span>
            }
            else
            {
                <span>@Html.Raw("No. " + Model.i)</span>
            }
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.from_loc_id, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 5px 0 0 0;" })
                @if (ViewData["List_fromLocation"] != null)
                {
                    @Html.DropDownList("from_loc_id", (SelectList)ViewData["List_fromLocation"], new { id = "from_loc_id", @class = "form-control col-md-8", style = "font-size: 16px;" })
                }
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.to_loc_id, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 5px 0 0 0;" })
                @if (ViewData["List_toLocation"] != null)
                {
                    @Html.DropDownList("to_loc_id", (SelectList)ViewData["List_toLocation"], new { id = "to_loc_id", @class = "form-control col-md-8", style = "font-size: 16px;" })
                }
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.transit_days, htmlAttributes: new { @class = "col-md-4", @style = "text-align: right; margin: 5px 0 0 0;" })
                <input name="transit_days" class="col-md-8 input-sm form-control" autocomplete="off" value="@Model.transit_days" type="number" style="font-size: 14px;" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Save" class="btn btn-primary" onclick="return confirm('Save this transit time?');" @attr_html />
    </div>
}

