@using RuntimeVariables;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ((ViewBagPageInfo)ViewBag.PageInfo).Title;
    ViewBag.PageName = ((ViewBagPageInfo)ViewBag.PageInfo).PageName;
    ViewBag.Path = ((ViewBagPageInfo)ViewBag.PageInfo).Path;
}

@*
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")
*@



<!-- #region Developing -->
@if (ViewBag.Dev != null)
{
    <div class="alert dev">
        <span class="closebtn">&times;</span>
        <strong>@ViewBag.Dev</strong>
    </div>
}
<style>
    .alert.dev {
        padding: 20px;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        background-color: hotpink;
        font-size: larger;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>
<script type='text/javascript'>
    var close = document.getElementsByClassName("closebtn");
    for (var i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
</script>
<!-- #endregion -->


<h4>@ViewBag.Path</h4>




<style type="text/css">
</style>




<script type="text/javascript">
    function onEnterPressed(event) {
        if (event.keyCode === 13) {
            goSearch();
        }
    }

    function goSearch() {
        document.getElementById("pmDate").blur();
        document.getElementById('btn_search').setAttribute('disabled', 'disabled');

        $("#loading").fadeIn();
        var target = document.getElementById('loading');
        var spinner = new Spinner(opts).spin(target);

        var pmP21URL = @ViewData["pmP21URL"];
        var pmFrom = @ViewData["pmFrom"];
        var pmTo = $('#pmTo').val();
        var pmDate = $('#pmDate').val();
        $("#orders").load('@Url.Action("Get_Orders", "Transfer")?pmP21URL=' + pmP21URL + '&pmFrom=' + pmFrom + '&pmTo=' + pmTo + '&pmDate=' + pmDate);
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {   
        @*document.getElementById("pmDate").addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                document.getElementById("btn_search").click();
                document.getElementById("pmDate").blur();
            }
        });

        $("#btn_search").click(function () {
            var pmP21URL = @ViewData["pmP21URL"];
            var pmFrom = @ViewData["pmFrom"];
            var pmTo = $('#pmTo').val();
            var pmDate = $('#pmDate').val();
            document.getElementById('btn_search').setAttribute('disabled', 'disabled');
            //document.getElementById('btn_search').value = "Searching...";

            $("#loading").fadeIn();
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);

            $("#orders").load('@Url.Action("Get_Orders", "Transfer")?pmP21URL=' + pmP21URL + '&pmFrom=' + pmFrom + '&pmTo=' + pmTo + '&pmDate=' + pmDate);
        });*@
    })
</script>




<form id="submit-button">
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-1" style="text-align: right; padding-top: 7px;">To Location</label>
            @Html.DropDownList("pmTo", (SelectList)ViewData["List_LocGrp"], new { @class = "form-control col-md-1" })
            <label class="control-label col-md-1" style="text-align: right; padding-top: 7px;">Requested Date</label>
            <input type="date" id="pmDate" name="pmDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" autocomplete="off" onkeyup="onEnterPressed(event);" class="form-control col-md-1" style="font-size: 14px;" />
            <label class="control-label col-md-1" style="color: transparent">Search</label>
            <input type="button" id="btn_search" value="Search" onclick="goSearch();" class="btn btn-default" />
        </div>
    </div>
</form>


<div id="orders">
</div>




@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

